monogameexport/.vs
monogameexport/MGAEditor/obj
monogameexport/MGAlienLib/bin
monogameexport/MGAlienLib/Content/bin
monogameexport/MGAlienLib/Content/obj
monogameexport/MGAlienLib/obj
monogameexport/Project1/bin
monogameexport/Project1/obj
monogameexport/Project1/Content/bin
monogameexport/Project1/Content/obj
monogameexport/MGAEditor/bin
monogameexport/MGAEditor/Content/obj
monogameexport/Project2/Content/bin
monogameexport/Project2/Content/obj
monogameexport/Project2/obj
monogameexport/Project2/bin
monogameexport/Project2/Assets/test/generated.blend
monogameexport/Project2/Assets/test/generated.blend1
monogameexport/gitIgnore
