monogameexport/.vs
monogameexport/MGAEditor/obj
monogameexport/MGAlienLib/bin
monogameexport/MGAlienLib/Content/bin
monogameexport/MGAlienLib/Content/obj
monogameexport/MGAlienLib/obj
monogameexport/Project1/bin
monogameexport/Project1/obj
monogameexport/Project1/Content/bin
monogameexport/Project1/Content/obj
monogameexport/MGAEditor/bin
monogameexport/MGAEditor/Content/obj
